/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header{
    background-color: #5865f2;
}



/* elementi cliccabili della nav bar */
li{
    padding: 1.2rem;
}

footer{
    background-color: #23272a;
    color: white;
}

hr{
    border: 1px solid #5865f2;

}


/* + per impostare un elemento dentro una flexbox al centro del flex container! */
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* + per aggiungere ad un flex container l'inserimento in colonna */
.flex-column{
    flex-direction: column;
}



/* tutti i link legati alla navbar */
.navbarlink{
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* * navbar */
.navigazione{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    padding-right: 7rem;
    font-family: "Open Sans", sans-serif;
}


/* *footer navbar */
.navigazione-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
    margin: 0;
    padding-left: 7rem;
    padding-right: 7rem;
    font-family: "Open Sans", sans-serif;
}



/* logo presente nella nav bar */
#Logo{
    display: flex;
    width: 124px;
    padding-top: 0;
    padding: 0.6rem;
}
/* * fine navbar */

/* titoli principali */
.title{
    color: white;
    font-size: 60px;
    font-family: bold;
    margin: 0;
    padding-top: 13.2rem;
    font-family: "Open Sans", sans-serif;
}

/* titoli secondari */
.title2{
    color: black;
    font-size: 45px;
    font-family: bold;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}




/* * per il footer */
.ending{
    display: flex;
    flex-direction: row;
    background-color: #23272a;
    color: white;
}





.sfondo{
    background-color: #f6f6f6;
}

/* + Color text */
.blutext{
    color: #5865f2;
}




/* + Wave Image */
.wave{
    display: flex;
    height: 100px;
    filter: opacity(0.04);
    background-image: url(../img/wave.svg);

}

/* + Wave Upside down */
.upside-down{
    transform: rotateX('180deg');       /* ! errore da correggere in futuro ! */
}






/* elementi del body */
/* --------------------------------- */

main > section{
    padding: 4rem;
}


.about{
display: flex;              /* ! Flex Container */
flex-direction: row;
flex-shrink: 1;
}


.about-reverse{
    display: flex;              /* ! Flex Container */
    flex-direction: row-reverse;
}


.testopreview{
    padding: px;
}

div.column{
    padding: 1rem;
}

div.column-small{
    width: 30%;
}

div.column-big{
    width: 70%;
}
/* --------------------------------- */








/* bottoni */
/* ------------------------ */
.loginbutton{
    color: black;
    height: 30px;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 2px 20px;
    margin: 1rem;
    font-family: "Open Sans", sans-serif;
}


.bottone{
    color: black;
    font-size: 20px;
    height: auto;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 16px 32px;
    margin: .5rem;
    font-family: "Open Sans", sans-serif;
}

.bottone-small{
    color: black;
    font-size: 14px;
    height: auto;
    width: auto;
    border-radius: 28px;
    border: none;
    padding: 12px 20px;
    margin: 3rem;
}


.blackbutton{
    background-color: #23272a;
    color: white;
}

.blubutton{
    background-color: #5865f2;
    color: white;
}
/* ------------------------ */





/* Sezione Download */
/* ------------------------ */
#jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#seriebottoni{
    display: flex;
    flex-direction: row;
}

/* + si riferisce esclusivamente alla descrizione all'interno del header */
#descrizione{
    color: white;
    font-size: 19px;
    line-height: 1.625;
    margin: auto;
    max-width: 780px;
    text-align: center;
    margin: 1% 0;
    

    font-family: "Open Sans", sans-serif;
}



/* + per centrare gli elementi di testo in collana e giustificati al centro */
.centered-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


#fotofinale{
    margin: 4rem;
    margin-top: 0px;
}

/* + per ogni testo dentro al main */
.descrizione2{
    color: rgb(35 39 42);
    font-size: 19px;
    line-height: 1.625;
    margin: auto;
    max-width: 780px;
    text-align: center;
    margin: 1%;
    padding-top: 1rem;

    font-family: "Open Sans", sans-serif;
}


.spark{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    max-width: 1250px;
    margin: 0;
    padding: 20px 100px;
    font-size: 30px;
}
/* ------------------------ */






/* ! footer link section .css */
/* ! ------------------------------------- */
.container-footer{
    display: flex;
    flex-direction: row;
    padding: 80px;
}


.Lingua-Link{
    display: flex;
    flex-direction: column;
}

.language-list{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 0;
    margin: 0;
}


.ul-link{
    display: flex;
    flex-direction: column;
    margin-right: 20px;         /* margine tra le liste */
}

.li-link{
    flex-direction: column;
    list-style-type: none;
    padding: .8rem;
    padding-left: 10rem;

    font-family: "Open Sans", sans-serif;
}




/* ! flex container */
.prodotto{
    display: flex;
    flex-direction: row;
    justify-items: center;
    
}

.Category{
    color: #5865f2;
    font-size: 25px;
    padding-left: 10rem;

    font-family: "Open Sans", sans-serif;

}




/* +SPECIALE+ */
.space{
    color: #23272a;;
}
/* +SPECIALE+ */


